.header {
  margin: auto;
  margin-right: 10%;
  margin-left: 10%;
}
.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  width: 100%;
}
.card .card-image .card-title {
  color: black;
  /* position: absolute; */
  bottom: 0;
  /* left: 0; */
  max-width: 100%;
  padding: 24px;
}
